# Force www, dev, and server subdomains to map to specific files
RewriteEngine On

# dev.sfti-ai.org b

# server.sfti-ai.org b
RewriteCond %{HTTP_HOST} ^server\.sfti-ai\.org$ [NC]
RewriteRule ^$ server.sfti-ai.org.html [L]

# www.sfti-ai.org or bare domain b
RewriteCond %{HTTP_HOST} ^(www\.)?sfti-ai\.org$ [NC]
RewriteRule ^$ index.html [L]
RewriteCond %{HTTP_HOST} ^server\.sfti\-ai\.org$
RewriteRule ^server\.sfti\-ai\.org\/$ "https\:\/\/server\.sfti\-ai\.org\/" [R=301,L]
