name: Update Profile Views Badge

on:
  schedule:
    - cron: "0 */6 * * *"
  workflow_dispatch:

jobs:
  build:
    permissions:
      contents: write
    runs-on: ubuntu-latest 
    steps:
      - uses: actions/checkout@v4
      - uses: actions/setup-node@v4
        with:
          node-version: "20"
          
      - name: Install dependencies
        run: |
          pip install requests
          cd docs/v.svg
          if [ -f package.json ]; then npm ci; fi

      
      - run: cd docs/v.svg && node scripts/build-pv.mjs
        env:
          GH_TOKEN: ${{ secrets.PAT_GITHUB }}
          
      - name: Commit updated v.svg
        run: |
          git config --global user.name "gremlin-bot"
          git config --global user.email "actions@github.com"
          git add docs/v.svg/
          git commit -m "chore: update profile views badge" || echo "No changes to commit"
          git pull --rebase
          git push
    

